@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

:root {  
    /*TYPOGRAPHY*/
    --fs-small: 0.8rem;
    --fs-normal: 1.5rem;
    --fs-larger: 2rem;
    --fs-largest: 2.5rem;
    --fw-normal: 700;

    /*BORDER RADIUS AND SPACING*/
    --br-small: 8px;
    --br-normal: 20px;
    --spc-smallest: 6px;
    --spc-small: 8px;
    --spc-normal: 16px;
    --spc-large: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--fs-larger);
    font-weight: var(--fw-normal);
    font-family: 'League Spartan', sans-serif;

    height: 100vh;
}

main {
    margin-bottom: var(--spc-small);
    max-width: 70vw;
    overflow: auto;
}

/*          HEADER          */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: var(--spc-small);
}

h1 {
    font-size: var(--fs-normal);
}

p {
    font-size: var(--fs-small);
}

.theme-selection-wrapper {
    display: flex;
    align-items: flex-end;
    font-size: var(--fs-small);
}

.theme-selection-wrapper > p {
    margin-right: var(--spc-large);
    margin-bottom: var(--spc-smallest);
}

.theme-selection {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    width: 80px;
    text-align: center;
}

.theme-selection-numbers-wrapper {
    grid-column-end: span 3;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--spc-smallest);
}

.theme-selection-numbers-wrapper > p {
    width: 16px;
}

.theme-selection-radio-wrapper {
    grid-column-end: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spc-smallest);
    border-radius: var(--br-normal);
}

input {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.2s border linear;
    cursor: pointer;
}

/*          DISPLAY AND KEYPAD          */
.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--fs-largest);
    height: fit-content;
    padding: var(--spc-large);
    margin: var(--spc-large) 0;
    border-radius: var(--br-small);
    word-break: break-all;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--spc-large);

    padding: var(--spc-large);
    border-radius: var(--br-small);
}

button {
    font-size: inherit;
    font-weight: inherit;
    padding:  var(--spc-small) var(--spc-large);
    border: none;
    border-radius: var(--br-small);
    cursor: pointer;
}

button:hover,
input:hover,
button:focus,
input:focus {
    opacity: 0.7; /*temporary because some hover colors are not provided without *PRO**/
}

button:active {
    transform: translateY(2px);
}

.function-btn {
    font-size: var(--fs-normal);
}

.function-btn:nth-last-of-type(2) {
    grid-column-end: span 2;
}

.equal-btn {
    font-size: var(--fs-normal);
    grid-column-end: span 2;
}

@media (max-width: 600px) {
    main {
        max-width: 90vw;
    }

    .keypad {
        grid-gap: var(--spc-normal);
    }

    button {
        padding: var(--spc-small);
    }
}

.attribution { 
    font-size: 11px; text-align: center; 
}